{{ define "layout_auth.html" -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}huck{{ end }}</title>
    <link rel="stylesheet" href="/static/pico.min.css">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
<main class="container">
    {{ block "content" . }}{{ end }}
</main>
<script src="/static/htmx.min.js" defer></script>
<script src="/static/alpine.min.js" defer></script>
<script src="/static/app.js" defer></script>
{{ block "scripts" . }}{{ end }}
</body>
</html>
{{- end }}
